@import "tailwindcss";

@layer utilities {
  .text-primary {
    color: #008080;
  }
  .bg-primary{
    background-color: #008080;
  }
  .text-sm2 {
    font-size: 1rem;
  }
  .shadow-md {
    box-shadow: 0 0 10px #ccc;
  }
}

@tailwind utilities;

@layer base {
  body {
    font-family: Arial, sans-serif;
  }

  .font-arial {
    font-family: Arial, sans-serif;
  }
}

